$blurColor:#5756cc;
$darkblueColor:rgb(19, 20, 44);



.main-left{
    padding: 32px 68px 29px 36px;
    background-color: #04050a;


    .mint-h3{
        padding-left: 50px;
    }
    .mint-p5{
        padding-left: 82px;
        color: rgb(168, 169, 170);
        font-size: 14px;
    }
    .mint-card-1{
        background-color: rgb(11, 13, 25);
        padding: 25px;
        border-radius: 10px;
        margin-top: 37px;
    }
    .star-col{
        color: $blurColor;
        padding-left: 8px;
        padding-right: 3px;
    
    }
}




.mint-7{


background-color: transparent;
    border:2px solid $blurColor;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 500;
    padding: 7px 62px;
color: $blurColor;
}
.mint-7:focus{
    visibility: hidden;
}


//Instruction scss
.main-top{
    overflow: hidden;
}
p {
    margin-top: 0;
    margin-bottom: 0.1rem;
}
.mint-d1{
    background: #0d0b1d;
    padding: 25px;
}
.mint-d3{
    padding-top: 25px;
  

}
.mint-d2{
    background: #010103;
    padding: 25px;
}
.mint-p2{
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-align: start;
}
.mint-p3{
    color: #939397;
    font-size: 14px;
}

//UploadImg scss......
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(222, 224, 226, 0);
    
}
.use6{
    padding: 8px 16px;
    font-size: 14px;
}
.D-file{
    height: 300px;
    text-align: start;
    // background-color: #13142c;
    // color: white;
}
.mint-p6{
    height: 200px;
}
.zone{
    background-color: $darkblueColor;
    border: none;
    border-radius: 16px;
    margin-right: 85px;
    margin-top: 20px;
    margin-bottom: 54px;
}
.visitors{
    background-color: $darkblueColor;
    border: none;
    border-radius: 16px;
    font-size: 14px;

    &:focus{
        background-color: $darkblueColor;
        border: none !important;
        border-radius: 16px;
        font-size: 14px;
        color: white;
    }
}

input{
    display: inline !important;
    visibility: hidden;
}
.delete-img{
    padding: 42px;
}
.progress-w{
    height: 12px;
    border-radius: 12px;
    margin-top: 55px;
    margin-left: 30px;
}
.upload-img{
    text-align: center;
    width: 77%;
    color: white;
    font-size: 14px;
}
//WatchTutorial
.Mint-sec1{
    background-color: rgb(7, 8, 16);
}
.Mint-sec2{
    padding: 23px 43px 17px;
}
.play-span{
    background: #0e0e22;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 5px;
    border-radius: 2px 20px 20px 1px;
}
.btn-col-3{
  
    padding: 8px 0px 5px 12px;
    background:  rgb(10, 12, 17);
    border: 2px solid #5050c2;
    color: white !important;
}
.btn-mint1{
    color: white;
    padding: 13px;
}
.ply-2{
    padding-left: 12px;
    margin-right: 14px;
}
.a-link-mint{
    padding: 10px 31px;
    color: $blurColor;
    font-weight: 500;

    &:hover{
        padding: 10px 31px;
        color: $blurColor;
        font-weight: 500;
    }
}


.btn-mint-2{
    background-color: $blurColor;
    border: none;
    font-size: 13px;
    font-weight: 500;
    padding: 0px 25px;
    border-radius: 8px;

    &:focus{
        background-color: $blurColor;
        border: none !important;
        font-size: 13px;
        font-weight: 500;
        padding: 0px 25px;
        border-radius: 8px;
        box-shadow: 0 0 0 0.25rem rgba(60, 75, 97, 0)
    }
}

@media  screen and (min-width:320px)and (max-width:991px) {
    .img-group34{
        display: none;
    }
    .Mint-sec2 {
        padding: 64px 43px 17px;
    }
    
}
@media  screen and (min-width:992px)and (max-width:1200px) {
    .img-group34{
        width: 100%;
    }  
    .Mint-sec2 {
        padding: 64px 43px 17px;
    }
    
}
@media  screen and (min-width:320px)and (max-width:489px) {
    .a-link-mint {
        padding: 1px 1px;
        margin-left: 41px;
        margin-top: 7px;
        font-size: 11px;
    }
    .Mint-sec2 {
        padding: 64px 12px 16px;
    }
    .btn-col-3 {
        font-size: 11px;
    }
    .play-span {
     
        padding-bottom: 6px;
        padding-left: 0px;
        padding-top: 7px;
      
    }
    .btn-mint-2 {
            margin-left: 67px;
        font-size: 11px;
        
        padding: 7px 13px;
       
    }
    .min1{
        margin-left: 69px;
    }
    .btn-mint1 {
        color: white;
        padding: 6px;
    }
    .mint2{
        margin-top: 12px;
    }
    .main-left {
        padding: 32px 7px 27px 13px;

    }
    .zone {
        background-color: #13142c;
        border: none;
        border-radius: 16px;
        margin-right: 21px;
        margin-top: 20px;
        margin-bottom: 54px;
    }
    p{
        font-size: 11px;
    }
    .mint-p2 {
        font-size: 12px;
   
    }
    .use6 {
        padding: 8px 5px;
        font-size: 11px;
    }
    .mint-7 {
        
        padding: 4px 24px;
        
    }
    .main-left .mint-h3 {
        padding-left: 27px;
        font-size: 20px;
    }
    .mint-p3 {
        color: #939397;
        font-size: 11px;
    }
    .main-left .mint-p5 {
        padding-left: 58px;
        color: #a8a9aa;
        font-size: 12px;
    } 
    
}
@media  screen and (min-width:490px)and (max-width:600px) {}
@media  screen and (min-width:601px)and (max-width:819px) {
    .a-link-mint {
        padding: 10px 6px;
        color: #5756cc;
        font-weight: 500;
    }
    .Mint-sec2 {
        padding: 64px 8px 17px;
    }
    
    .play-span {
      
        padding-top: 8px;
        padding-bottom: 6px;
        padding-left: 5px;
        
    }
    .btn-mint-2 {
       
        padding: 0px 11px;
       
    }
    .btn-col-3 {
        padding: 8px 0px 6px 3px;
}
.main-left {
    padding: 32px 16px 20px 26px;
    background-color: #04050a;
}
.zone {
   
    margin-right: 36px;
    
}
}