.main-left{
    padding: 30px;
    background-color: #04050a;
}
.mint-h3{
    padding-left: 50px;
}
.mint-p5{
    padding-left: 81px;
}
.mint-card-1{
    background-color: rgb(11, 13, 25);
    padding: 25px;
    border-radius: 10px;
}