.Mint-sec1{
    background-color: rgb(7, 8, 16);
}
.Mint-sec2{
    padding: 23px 43px 17px;
}
.btn-col-3{
  
    padding: 8px 21px;
    background:  rgb(10, 12, 17);
    border: 2px solid #5050c2;
    color: white !important;
}
.btn-mint1{
    color: white;
}
.ply-2{
    padding-left: 12px;
}
.a-link-mint{
    padding: 10px 31px;
    color: rgb(87, 86, 204);
    font-weight: 500;
}
.btn-mint-2{
    background-color: #5756cc;
    border: none;
    font-size: 13px;
    font-weight: 500;
    padding: 0px 25px;
    border-radius: 8px;
}
// external class
.btn-mint-2:hover {
    color: #fff;
    background-color: rgb(87, 86, 204);
     border-color: none; 
}