//external 
.main-top{
    overflow: hidden;
}
p {
    margin-top: 0;
    margin-bottom: 0.1rem;
}
.mint-d1{
    background: #0d0b1d;
    padding: 25px;
}
.mint-d3{
    padding-top: 25px;
}
.mint-d2{
    background: #010103;
    padding: 25px;
}
.mint-p2{
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.mint-p3{
    color: #939397;
    font-size: 14px;
}